.therapy-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px; /* Added padding for better spacing */
}

.image-col {
  display: flex;
  justify-content: right; /* Center the image horizontally */
}

.text-col {
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
}

.therapy-details {
  text-align: left; /* Left-align the text */
  font-size: 27px;
  color: #000000;
  line-height: 1.6;
  margin-left: 1.0vw; /* Add space between the image and text */
}

.therapy-image-container {
  position: relative;
  height: auto; /* Adjusted to auto for proper scaling */
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.therapy-image-container img {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}
